@import '~./fonts.scss';
@import "~./variables.scss";

body {
    margin: 0 !important;
    overflow-x: hidden;
}

.user-app-bar-menu {
    position: fixed !important;
    left: auto !important;
    min-height: 50px;
    max-height: 50px;
    max-width: 40px !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: $border !important;
    border-bottom: 1px solid $border !important;
}

.content-container {
    padding-top: 52px !important;
}

.right-content-container {
    max-width: auto !important;
    padding: 0 !important;
    margin: 0 auto !important;
}

.mobile_header {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid $border;
    background-color: $border_light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select-language {
        margin-right: 0px;
    }
}

.mobile_header-title {
    margin-left: 70px;
    color: $text_main;
    font-size: 18px;
    font-family: Museo Sans Cyrl Bold;
}

.open_login_dialog_button {
    position: absolute !important;
    top: 11px;
    left: -11px;
    border-radius: 30px !important;
    width: 90px;
    z-index: 10;
}

.expand_drawer_button {
    position: fixed !important;
    z-index: 9999 !important;
}

.navigation_drawer_menu {
    z-index: 99999 !important;
}

.sidebar-menu-user-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-menu-user-avatar {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-self: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sidebar-menu-user-info {
    margin-top: 10px;
}

.sidebar-menu-user-info-count {
    display: flex;
}

.sidebar-menu-user-info-count-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: 10px;

    p {
        margin-right: 5px;

        &:first-child {
            font-size: 16px;
        }
    }
}

.select-language {
    height: 34px;
    width: 64px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-banners-container {
    display: flex;
    justify-content: center !important;
    max-width: auto !important;
    width: 100%;
    padding-top: 0;
    display: none;
}

.right-banners-container {
    display: flex;
    justify-content: center !important;
    max-width: auto !important;
    width: 100%;
    padding-top: 0;
    display: none;
}

.user_profile_container {
    width: 256px;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.paddingBottomRoot {
    padding-bottom: 120px;
}

.right-content {
    padding: 0 !important;
}

.login-form-container {
    display: none;
}

.create_status_form_mobile {
    display: none;
}

.create-status-form-pic {
    width: 76px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}

.repostedStatusContainer {
    width: 100%;
}

.statusCardBox {
    border-top: 1px solid $border;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
    border-radius: 0px !important;
    overflow: visible !important;

    &:hover {
        background: $bg_light;

        .repostedStatusContainer {
            background: $bg_light;
        }
    }

    &:last-child {
        border-bottom: 1px solid $border;
    }
}

.status-list-card {
    border-radius: 0px !important;
}

.status-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-self: start;

    >a {
        margin-right: 10px;
    }

    p {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: $text_main;
    }
}

.user-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $text_main;
        margin: 20px 0 5px 0;
        word-break: break-word;
    }

    >p {
        max-width: 256px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: $text_secondary;
        margin: 0 0 10px 0;
        word-break: break-word;
    }

    a {
        font-size: 12px;
        margin-bottom: 10px;
        text-decoration: none;
    }
}

.user-card-info-bio {
    font-weight: 300;
    text-align: center;

    p {
        font-size: 15px;
        line-height: 20px;
        color: $text_main;
        margin: 0;
    }
}


.user-card-statistic {
    display: flex;
    justify-content: center;

    a {
        width: 33%;
        text-align: center;
        text-decoration: none;

        &:hover {
            p {
                color: $text_main;
            }
        }
    }

    h5 {
        margin: 5px 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: $text_secondary;
    }

    p {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-bottom: 0;
    }
}

.avatar-mini {
    height: 35px !important;
    width: 35px !important;
    border: 1px solid $border;
}

.status-list-body-container {
    padding-top: 0px !important;
    padding-left: 65px !important;

    p {
        font-weight: 300;
        font-size: 15px;
        line-height: 23px;
        color: $text_main;
        word-break: break-word;
    }
}

.status-list-body-container-no-padding-left {
    padding-top: 0px !important;

    p {
        font-weight: 300;
        font-size: 15px;
        line-height: 23px;
        color: $text_main;
        word-break: break-word;
    }
}

.status-list-bottom-container {
    padding-left: 65px !important;
    padding-bottom: 15px !important;

    p {
        margin-left: 2px;
        font-size: 15px;
        line-height: 18px;
        color: $text_secondary;
    }
}

.status-list-bottom-box {
    cursor: pointer;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:first-child {
        margin-left: 0 !important;
    }

    &:last-child {
        justify-content: flex-start;
    }
}

.user-profile-header {
    max-width: 256px !important;
    padding: 0 !important;
    box-sizing: border-box;
}

.user-profile-header-content {
    max-width: 256px !important;
    background: $bg_light;
    border: 1px solid $border;
    border-radius: 4px;
}

.user-profile-header-content-top {
    padding: 36px 24px 0;
    width: 100%;
}

.user-profile-header-content-bottom-follows {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    align-content: space-between;

    a {
        width: 33%;
        text-align: center;

        &:hover {
            >p {
                color: $text_main;
            }
        }
    }

    h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $text_main;
    }

    p {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: $text_secondary;
    }
}

.user-profile-header-content-bottom-follow-button {
    width: 100%;
    padding: 0 24px 24px;

    button {
        display: block;
        margin: 0 auto;
        max-width: 202px;
        width: 100%;
        height: 40px;
        font-weight: 600;
        font-size: 15px;
    }
}

.user-profile-content-container {
    max-width: auto !important;
    width: 100% !important;
    margin-bottom: 70px !important;
    max-width: 600px !important;
}

.user-profile-info-member-since {
    margin-bottom: 20px !important;
    font-size: 12px !important;
}

.static-page-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    color: $text_secondary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;

        >a {
            text-decoration: underline;
        }
    }
}

.notificationCardBox {
    width: 100%;
    border-top: 1px solid $border;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
    overflow: visible !important;
    border-radius: 0 !important;
}

.ignite-chat-page {
    height: 18em;
    width: 100%;
    background: url("../images/connected_world_wuay.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.not-found {
    height: 232px;
    width: 100%;
    max-width: 427px;
    background: url("../images/page_not_found.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ReactGridGallery_tile {
    background: none !important;
}

@media (min-width: 960px) {
    .header-logo {
        display: block;
    }

    .mobile_header {
        display: none !important;
        border: 1px solid red !important;
    }

    .open_login_dialog_button {
        position: static !important;
        width: 114px;
    }

    .expand_drawer_button {
        padding: 6px 12px;
    }

    .right-content {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .login-form-container {
        display: block;
        padding: 0 !important;
        box-sizing: border-box !important;
        border-radius: 4px 4px 0px 0px;
        box-shadow: none;
    }

    .create_status_form_mobile {
        display: block;
    }
}

@media (max-width: 960px) {
    .user-profile-header-content {
        width: 100% !important;
        max-width: 100% !important;
    }

    .user-profile-content-container {
        position: relative;
        margin: 0 auto 40px auto !important;
        max-width: 100% !important;
    }
}

@media (min-width: 670px) {
    .user-app-bar-menu {
        position: relative !important;
        background: none !important;
        border: none !important;
    }
}

@media (min-width: 952px) {
    .content-container {
        padding-top: 0 !important;
        width: 100% !important;
        justify-content: space-between;
    }

    .right-content-container {
        max-width: 600px !important;
    }

    .left-banners-container {
        display: block;
        max-width: 256px !important;
        padding: 0;
    }

    .right-banners-container {
        display: block;
        max-width: 256px !important;
        padding: 0;
    }
}

@media (max-width: 900px) {
    .right-content-container {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .user_profile_container {
        max-width: 600px;
        width: 100%;
    }

    .user-profile-header {
        max-width: 100% !important;
        width: 100%;
    }
}

@media screen and (max-width: 465px) {
    .status-header {
        >a {
            margin-right: 0;
        }
    }
}